<!DOCTYPE html>
<html>
<body>
    <h1>Minimal ML App</h1>
    <p>
    <label for="slider_seed">Seed:</label>
    <input type="range" id="slider_seed" min="0" max="1000" step="1.0" value="{{ seed }}">
    <span id="sliderValue_seed">{{ seed }}</span>    
    </p>
    <p> 
    <label for="slider_lr">Learning rate:</label>
    <input type="range" id="slider_lr" min="0.001" max="0.5" step="0.001" value="{{ lr }}">
    <span id="sliderValue_lr">{{ lr }}</span>
    </p>
    <p> 
    <label for="slider_ep">Number of epochs:</label>
    <input type="range" id="slider_ep" min="0" max="25" step="1.0" value="{{ n_epochs }}">
    <span id="sliderValue_ep">{{ n_epochs }}</span>
    </p>
    <p> 
    <label for="slider_batches">Batch size:</label>
    <input type="range" id="slider_batches" min="0" max="1000" step="1.0" value="{{ batch_size }}">
    <span id="sliderValue_batches">{{ batch_size }}</span>
    </p>
    <p>Current Epoch: <span id="epoch">{{ epoch }}</span></p>
    <p>Current Accuracy: <span id="accuracy">{{ acc }}</span></p>
    <p>Current Loss: <span id="loss">{{ loss }}</span></p>
    <button id="playButton">Play</button>
    <button id="stopButton">Stop</button>
    <button id="resumeButton">Resume</button>
    <p> <image id="loss_plot" src="{{ loss_plot }}"></image> </p>
    <p> <image id="acc_plot" src="{{ acc_plot }}"></image> </p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>